body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
}
.focused-area{
    display: flex;
    text-align: justify;
    padding: 20px 40px;
}
.focused-half{
    width: 50%;
    margin-left: 100px;
}
.fh-img{
    width: 100%;
    /* height: 700px; */
}
#focused-title{
    font-size: 70px;
    border-left: tomato solid 5px;
    border-radius: 4px;
 
}
.comon-button{
    color: white;
    background-color: tomato;
    padding: 20px 40px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
}

.com-col{
    color: cornflowerblue;
}

.learning-area{
    text-align: center;
}
.learning-area h1{
    font-size: 60px;
}
.learning-path-area{
    display: flex;
    margin-left: 100px;
    text-align: center;
}
.routin-area{
    height: 600px;
    width: 30%;
    margin-left: 20px;
    padding-left: 20px;
    border-radius: 35px;
    text-align: justify;
}
.routin-area h2{
    font-size: 35px;
}
.routin-area p{
    margin-right: 16px;
    color: rgba(3, 3, 14, 0.623);
}
.learning-tools{
    background-color: rgba(14, 118, 150, 0.699);
}
.coading{
    background-color: darkseagreen;
}
.reading{
    background-color: darkturquoise;
}
.path-img{
    width: 250px;
    margin: 5px 0 0 5px;
}

.comon-sec{
    display: flex;
    margin-top: 100px;
}

.workplace-area{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 250px;
}
.work-img-area{
    width: 40%;
    margin-left: 100px;
    margin-right: 80px;
}
.work-img{
    width: 100%;
}
.work-part-area{
    width: 60%;
    margin:100px 0 100px 80px;
}
.work-part-area h1{
    font-size: 60px;
}
.work-part-area p{
    width: 800px;
    margin: 0 0 55px 0;
    line-height: 34px;
    color: rgba(17, 14, 14, 0.61);
}
.community-area{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: bottom right;
}

footer{
    background-color: rgba(125, 26, 238, 0.685);
    text-align: center;
    height: 200px;
    font-family: 'Josefin Sans', sans-serif;
}
footer h1{
    padding-top: 50px;
    font-size: 50px;
}